In [111]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly
import matplotlib as plt
import plotly.graph_objects as go
import plotly.express as px

In [112]:
covid = pd.read_csv("us-counties.csv")

In [113]:
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [114]:
covid.shape

(405287, 6)

In [115]:
covid["date"].isnull().count()

405287

In [116]:
del covid["fips"]

In [117]:
covid.head()

         date     county       state  cases  deaths
0  2020-01-21  Snohomish  Washington      1       0
1  2020-01-22  Snohomish  Washington      1       0
2  2020-01-23  Snohomish  Washington      1       0
3  2020-01-24       Cook    Illinois      1       0
4  2020-01-24  Snohomish  Washington      1       0

In [118]:
covid.columns

Index(['date', 'county', 'state', 'cases', 'deaths'], dtype='object')

In [119]:
covid_states = covid['state'].value_counts().to_frame()
covid_states

                          state
Texas                     29636
Georgia                   21529
Virginia                  17193
Kentucky                  15052
Missouri                  14017
North Carolina            13208
Illinois                  13048
Tennessee                 12724
Iowa                      12472
Indiana                   12454
Ohio                      11818
Kansas                    11266
Mississippi               11117
Minnesota                 11035
Michigan                  10938
Arkansas                   9936
Oklahoma                   9545
Florida                    9434
Wisconsin                  9403
Pennsylvania               9159
Alabama                    9030
Nebraska                   8948
Louisiana                  8913
Colorado                   8232
New York                   8224
California                 8217
Puerto Rico                7363
South Dakota               6921
West Virginia              6706
South Carolina             6372
North Dakota               5616
Washington                 5556
Idaho                      4762
Montana                    4594
Oregon                     4587
New Mexico                 4016
Utah                       3574
Maryland                   3495
New Jersey                 3205
Wyoming                    2957
Alaska                     2610
Maine                      2287
Massachusetts              2224
Arizona                    2170
Vermont                    2068
Nevada                     1924
New Hampshire              1520
Connecticut                1277
Rhode Island                828
Hawaii                      613
Delaware                    547
Virgin Islands              497
Northern Mariana Islands    154
District of Columbia        152
Guam                        144

In [120]:
covid_states_lst = sorted(list(covid_states.index))
print(covid_states_lst)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [121]:
covid = covid.sort_values(by="state")
covid

              date       county    state  cases  deaths
246410  2020-06-17       Marion  Alabama    153      12
325159  2020-07-12        Perry  Alabama    251       2
325158  2020-07-12       Morgan  Alabama   1352       5
325157  2020-07-12   Montgomery  Alabama   4595     114
325156  2020-07-12       Monroe  Alabama    264       4
...            ...          ...      ...    ...     ...
151196  2020-05-16      Fremont  Wyoming    220       4
151197  2020-05-16       Goshen  Wyoming      5       0
151198  2020-05-16  Hot Springs  Wyoming      7       0
151200  2020-05-16      Laramie  Wyoming    181       1
405286  2020-08-05       Weston  Wyoming      5       0

[405287 rows x 5 columns]

In [122]:
covid.dtypes

date      object
county    object
state     object
cases      int64
deaths     int64
dtype: object

In [123]:
covid["state"] = covid.state.astype(str)

In [124]:
covid.dtypes

date      object
county    object
state     object
cases      int64
deaths     int64
dtype: object

# Creating a new dataframe with three columns: state, total_cases, total_deaths

In [125]:
# I will call this dataframe scd
scd = pd.DataFrame(columns=["state","total_cases", "total_deaths"])
scd

Empty DataFrame
Columns: [state, total_cases, total_deaths]
Index: []

In [126]:
scd["state"] = pd.Series(covid_states_lst)
scd["total_cases"] = pd.Series(covid_states_lst)
scd["total_deaths"] = pd.Series(covid_states_lst)
scd.head()

        state total_cases total_deaths
0     Alabama     Alabama      Alabama
1      Alaska      Alaska       Alaska
2     Arizona     Arizona      Arizona
3    Arkansas    Arkansas     Arkansas
4  California  California   California

In [127]:
scd.shape

(55, 3)

In [133]:
for state in covid_states_lst:
    total_case_count = covid.loc[covid["state"] == state, "cases"].sum()
    total_death_count = covid.loc[covid["state"] == state, "deaths"].sum()
    scd["total_cases"] = scd["total_cases"].replace(state, total_case_count)
    scd["total_deaths"] = scd["total_deaths"].replace(state, total_death_count)

In [134]:
covid.loc[covid["state"] == "New York", "cases"]

210893      51
210933     706
210934      51
210935      12
210936      61
          ...
134945    9599
134944     107
134947      75
134948      67
134946     130
Name: cases, Length: 8224, dtype: int64

In [136]:
scd

                       state  total_cases  total_deaths
0                    Alabama      3683761         88881
1                     Alaska       132147          1324
2                    Arizona      6852781        161358
3                   Arkansas      1805470         23299
4                 California     22315360        566805
5                   Colorado      3286242        159231
6                Connecticut      4688352        414384
7                   Delaware      1096866         42797
8       District of Columbia       987876         50087
9                    Florida     16946110        354652
10                   Georgia      8014490        256283
11                      Guam       138062           749
12                    Hawaii       111654          2114
13                     Idaho       762254         10854
14                  Illinois     13597831        622778
15                   Indiana      4497225        244128
16                      Iowa      2641539         61009
17                    Kansas      1463135         26911
18                  Kentucky      1559822         55243
19                 Louisiana      6456941        330320
20                     Maine       292549         10209
21                  Maryland      6243681        282576
22             Massachusetts     10852314        745805
23                  Michigan      7344130        617633
24                 Minnesota      3135948        121960
25               Mississippi      2660520         96795
26                  Missouri      2325921         92875
27                   Montana       139511          2799
28                  Nebraska      1686629         22806
29                    Nevada      1954151         52957
30             New Hampshire       532113         30016
31                New Jersey     18221436       1363301
32                New Mexico      1137718         43180
33                  New York     44099799       3363223
34            North Carolina      5676901        120595
35              North Dakota       350458          7505
36  Northern Mariana Islands         3141           248
37                      Ohio      5101388        254441
38                  Oklahoma      1441756         40188
39                    Oregon       866373         21157
40              Pennsylvania      9162436        606854
41               Puerto Rico       733161          2275
42              Rhode Island      1630790         80014
43            South Carolina      3469283         77741
44              South Dakota       618999          7941
45                 Tennessee      4438751         57368
46                     Texas     16880255        280103
47                      Utah      1970266         16392
48                   Vermont       133733          6388
49            Virgin Islands        24294           642
50                  Virginia      5596420        157679
51                Washington      3558439        141594
52             West Virginia       321865          8781
53                 Wisconsin      2928085         71932
54                   Wyoming       146469          1780

In [137]:
fig = go.Figure(data=[
    go.Bar(name='Cases', x=covid_states_lst, y=scd["total_cases"]),
    go.Bar(name='Deaths', x=covid_states_lst, y=scd["total_deaths"])
]
)
fig.update_layout(title="COVID-19 Cases in the United States", barmode='group')
fig.show()

In [132]:
total_cases = scd["total_cases"].sum()
total_deaths = scd["total_deaths"].sum()
raw_data = {"Total Cases": [total_cases], "Total Deaths": [total_deaths]}
covid_totals = pd.DataFrame(raw_data, columns = ["Total Cases", "Total Deaths"] )
covid_totals

TypeError: can only concatenate str (not "int") to str

In [ ]:
fig = px.pie(covid_totals, values = covid_totals.loc(1), names = covid_totals.columns, title = "Cases & Deaths - COVID-19, USA")